<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <div>
    <figure>
      <img src="https://cdn.trick.games/card_sprites.png" />
    </figure>
  </div>
</section>
